// Layout Definitions ------------------------------------------------------------
body {
    background-color: $bckground;
}

// Header elements-----------------------------------------------------------------
.navbar {
    z-index: 9;
    width: 100%;
}

.bg-black {
    background: rgba(0,0,0,0.8);
}

.nav-link {
    &:hover {
        border-bottom: 1px solid;
    }
    &:focus {
        border-bottom: 1px solid;
    }
    &:active {
        border-bottom: 1px solid;
    }
}

.navbar-brand img {
    max-width: 150px;
    min-width: 150px;
    height: auto;
    opacity: 0.7;
}

.top-banner {
    width: 100%;
    height: 100%;
}


// Slide elements ------------------------------------------------------------------
.slid-item {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.s-one {
    background-image: url(../../img/home-full-slide-1.jpg);
}

.s-two {
    background-image: url(../../img/home-full-slide-2.jpg);
}

.s-three {
    background-image: url(../../img/home-full-slide-3.jpg);
}

.banner-top {
    width: 100%;
    height: auto;
    display: block;
}

// Icons and SVG assets -----------------------------------------------------------
.icon {
    background: url(assets/svg-sprites.svg) no-repeat;
    background-size: 300px, 150px;
    display: block;
    width: 40px; 
    height: 40px; 
}

.small-icon {
    background: url(assets/svg-sprites.svg) no-repeat;
    background-size: 180px, 100px;
    display: block;
    width: 20px; 
    height: 20px; 
}

.big-icon {
    background: url(assets/svg-sprites.svg) no-repeat;
    background-size: 1235px, auto;
    display: block;
    width: 245px; 
    height: 245px; 
}

.logostarimper  { 
    background: url(assets/svg-sprites.svg) no-repeat;
    background-size: 365px, auto;
    display: block;
    width: 245px; 
    height: 60px;
    background-position: -141px -78px; 
}

.facebook       { background-position: -40px 0; }
.instagram      { background-position: 0 0; }
.google         { background-position: -80px 0; }

.whatsapp       { background-position: -3px -26px; }
.pin-map        { background-position: -28px -26px; }
.clock          { background-position: -51px -26px; }
.telephone      { background-position: -3px -52px; }
.email          { background-position: -27px -52px; }

.clerk          { background-position: -500px 0; }
.schedule       { background-position: -740px 0; }
.aspirator      { background-position: -990px 0; }

.clients {
    background: url(../../img/sprite-clients.jpg) no-repeat;
    background-size: 1000px, 376px;
    display: block;
    width: 250px; 
    height: 188px; 
}

.objetivo   { background-position: 0 0; }
.sesc       { background-position: -250px 0; }
.roge       { background-position: -500px 0; }
.policia    { background-position: -750px 0; }
.stylus     { background-position: 0 -188px; }
.rosalia    { background-position: -250px -188px; }
.valencia   { background-position: -500px -188px; }
.ycks       { background-position: -750px -188px; }

// Texts elements definitions ------------------------------------------------------
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff2') format('woff2'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, h1, h2, h3, h4, p {
    font-family: 'open_sanslight', Arial, sans-serif, Courier, monospace;
}

h3 {
    font-size: 1.4em;
}

.blu-text {
    color: $star-blue;
}

.life-texts {
    width: 100%;
    height: auto;
    max-width: 380px;
    right: 0;
    margin-top: 37%;
    margin-right: 12%;
}

// Layout elements definitions -----------------------------------------------------


// Footer elements definitions -----------------------------------------------------
footer {
    background: $grey;
    color: $dark-grey;
}

.copyright {
    font-size: 10px;
    color: $grey;
}